.tip-card{
    background-color:lightgoldenrodyellow;
    color: black;
    padding: 10px;
    top: 50%;
}
.container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

body {
    display: flex;
    min-height: 100vh!important;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  img{
      width: 10%;
  }
  footer{
      display: flex;
      margin-top: auto;
  }